.actual-task-container {
  width: 30vw;
  text-align: center;
}

.task-tracker {
  width: 35px;
  height: 35px;
  border: 3px solid #000000;
  border-radius: 30px;
}

td,
th {
  /* display: flex; */
  width: 60px;
  text-align: center;
  place-items: center;
}

.edit-fields {
  display: flex;
  place-items: center;
}

.input-task-container {
  width: 35vw;
  padding: 10px;
  text-align: center;
  background-color: RGB(255, 255, 255);
}

.bgOne {
  background-color: #009879;
}

tbody tr {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px ;
  text-align: center;
}

#taskname-input {
  background-color: RGB(255, 255, 255);
  border: none;
  border-bottom: 2px dotted #000;
  outline: none;
  padding: 10px;
  text-align: left;
  font-size: medium;
  width: 100px;
}

#desc-input {
  background-color: RGB(255, 255, 255);
  border: none;
  border-bottom: 2px dotted #000;
  outline: none;
  padding: 10px;
  text-align: left;
  font-size: medium;
  width: 450px;
}

tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}


