.habit-card {
  background: rgb(255, 255, 255);
  border-radius: 20px;
  width: 350px;
  padding: 20px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
  position: relative;
  overflow: hidden;
  margin: 15px;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.accent-bar {
  position: absolute;
  top: 0; left: 0; right: 0;
  height: 6px;
}
.accent-bar.pink { background: #ff99cc; }
.accent-bar.blue { background: #99ccff; }

.habit-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.text-section h3 { margin: 0; font-size: 1.1rem; color: #444; }
.text-section p { margin: 5px 0 0; font-size: 0.85rem; color: #888; }

.flame-badge {
  background: #ffe6f2;
  color: #ff66b2;
  padding: 10px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40px; height: 40px;
}

.habit-stats {
  display: flex;
  justify-content: space-between;
  padding: 0px 25px;
  place-items: center;
  margin-bottom: 20px;
  text-align: center;
}
.delete-btn {
  background: none;
  cursor: pointer;
  font-size: 1.1rem;
  z-index: 10;
  padding: 10px;
  border-radius: 30px;
  transition: background 0.5s ease;
}
.delete-btn:hover {
  background-color: #0000001f;
  cursor: pointer;
  font-size: 1.1rem;
  z-index: 10;
  padding: 10px;
  border-radius: 20px;
  transition: background 0.2s;
}


.check-box {
  width: 50px;
  height: 50px;
  background: #eee;
  border-radius: 12px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  color: white;
  transition: 0.3s;
}

.check-box.checked {
  background: #4de6a6;
}

.view-details {
  width: 100%;
  padding: 10px;
  border: 1px solid #eee;
  background: #fcfcfc;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 10px;
  color: #000000;
  outline: none;
  transition: 0.4s;
  font-size: medium;
  font-weight: 700;
}

.view-details:hover {
  background-color: #ccc;
}

.panel {
  padding: 0 18px;
  background-color: white;
  opacity: 0;
  overflow: hidden;
}

.panel.open{
  max-height: 500px;
  opacity: 1;
  padding: 15px;
  margin-top: 10px;
}

.stat-row{
  display: flex;
  place-items: center;
  justify-content: space-around;

}

.progress-circle{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#taskname-input {
  width: 80%;
  padding: 5px 5px;
  border: none;
  border-bottom: 3px dotted #000000; 
  background: transparent; 
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  transition: all 0.3s ease;
  outline: none;
  margin-bottom: 8px;
}

#taskname-input:focus {
  border-color: #54c9ff;
  box-shadow: 2px 2px 2px 2px rgba(0, 98, 255, 0.512);
}

#desc-input:focus {
  border-color: #ff8aef;
  box-shadow: 2px 2px 2px 2px rgba(255, 0, 238, 0.512);
}

#desc-input{
  width: 80%;
  padding: 5px 5px;
  border: none;
  border-bottom: 3px dotted #000000; 
  background: transparent; 
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  transition: all 0.3s ease;
  outline: none;
}

.days-row{
  display: grid;
  grid-template-columns: 40px 40px 40px 40px; 
  justify-content: space-evenly;
  gap: 10px;
}

.day-column{
  display: flex;
  flex-direction: column;
  place-items: center;
  gap: 3px;
}

.status-grid{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}