.main-task-container {
  width: 36vw;
  text-align: center;
  align-items: flex-start;
}

thead {
  width: 100vw;
}

thead tr {
  place-items: center;
  background-color: #009879;
  color: #ffffff;
  margin: 0;
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.progress-container {
  padding: 10px;
  text-align: center;
}
table {
  width: 95vw;
  border-top: #009879;
}

#next-week-button {
  border: none;
  font-size: larger;
  place-items: center;
  font-weight: 700;
  cursor: pointer;
  transition: color 0.5s ease;
  border-radius: 10px;
  padding: 5px;
}

#next-week-button:hover {
  color: white;
  background-color: black;
}

td.progress-container {
  font-size: x-large;
}
