.each-habit-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: white;
  margin-top: 5vh;
  padding: 40px 0px;
  width: 80vw;
  height: 70vh;
  border-radius: 30px;
  box-shadow: 5px 5px 5px 5px #00000079;
}

.each-habit-container h1 {
  text-align: left;
}

.eh-accent-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  height: 10vh;
  padding: 0px 20px;
}
.pink {
  background: #ff99cc;
}
.blue {
  background: #99ccff;
}
