@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

html,
body,#root {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  min-height: 100vh;
  width: 100%;
  background: linear-gradient(to top, rgb(165, 255, 255), pink);
  background-attachment: fixed; /* Keeps gradient from scrolling */
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}

h1 {
  text-align: center;
  color: #333;
  margin: 0;
  padding: 0;
}

h3 {
  place-items: center;
}
