nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  place-items: center;
  background-color: white;
  border: 2px solid whitesmoke;
  box-shadow: 5px 5px 5px 5px #00000079;
}

nav h1 {
  place-items: center;
}

.nav-center {
  display: flex;
  cursor: pointer;
  place-items: center;
  margin-left: 70px;
}

.logo {
  width: 70px;
  height: 70px;
  margin-right: 5px;
  cursor: pointer;
}

#next-week-nav-btn {
  background-color: transparent;
  color: black;
  border: none;
  padding: 8px 16px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 900;
  transition: all 1s ease;
}

#next-week-nav-btn:hover {
  background-color: rgba(112, 255, 255, 0.558);
  color: #454545;
  box-shadow: 2px 2px 2px 2px;
}